#projects {
  padding-top: 50px;
}
a {
  font-size: 1.3em;
}
td {
  text-align: center;
}
img {
  padding-left: 30px;
  padding-right: 50px;
}
.proj {
  padding-right: 10px;
}
.img_fieldset {
  display: flex;
}
fieldset {
  display: flex;
  align-items: center;
  width: 600px;
}
fieldset legend {
  color: red;
}
ul .li {
  margin: 20px;
  font-size: 1.5em;
}
.before_proj {
  position: relative;
  left: 380px;
}
.next_proj {
  position: relative;
  left: 750px;
}
.Nobefore_next_proj {
  position: relative;
  left: 880px;
}
