a:link,
a:visited {
  text-decoration: none;
  color: black;
}
a:hover,
a:active {
  color: rgb(255, 145, 0);
}
header {
  display: inline;
}
nav {
  display: inline;
}
nav > a {
  padding: 10px;
  font-size: 1.5em;
}
.drop {
  position: relative;
}
#about_me td {
  padding: 40px;
  text-align: left;
}
@font-face {
  font-family: "Orbit-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Orbit-Regular";
}

h3 {
  display: inline;
}
